@model DashboardViewModel
@{
    ViewBag.Title = "Home Page";
}

<section id="Dashboard">
    @foreach (var program in Model.Programs)
    {
        <a href="@Url.Program_Launch(program.Id)">
            @program.Name
        </a>
    }
</section>